 /*started on 24/01/2022* 
 finished on 24/01/2022
 well i did this the hard way😂😂😂😅!
 */
 :root{
    /*primary */
    --sb:hsla(215,51%,70%,1);
    --cy:hsla(178,100%,50%,1);
    /*Neutral */
    --vdb-m:hsla(217,54%,11%,1);
    --vdb-c:hsla(216,50%,16%,0.8);
    --vdb-l:hsla(215,32%,27%,1);
    --w:hsl(0,0%,100%);
  }
 html{
   box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: var(--vdb-m);
 } 
 body{
   box-sizing: border-box;
   display:grid;
   justify-content: center;
   max-height: 100vh;
   max-width: 100vw;
   font-family: 'Outfit',sans-serif;
 }
 /*fonts "Outfit" */
 @font-face {
   font-family: 'Outfit';
   src: url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
 }
/* content of the NFT card*/
 
 #mainContent{
   height: 600px;
   width:390px;
   display:grid;
   justify-content: center;
   border-radius:20px;
   background-color: var(--vdb-c);
   box-shadow: 5px 10px 15px rgba(0,0,0,0.3);
   margin: auto;
 }
 section{
   display: grid;
   justify-content: center;
 }
 article{
   margin: auto;
 }
 /* image */
 .image{
   margin: auto;
   display:grid;
   justify-content: center;
   height: 360px;
   width:350px;
   transition: all 180ms ease;
   background-repeat: no-repeat;
   background-position: center;
 }
 .im{
   margin-right: 4px;
 }
 .im-a{
   height:40px;
   width:40px;
   vertical-align: middle;
   border:0.8px solid var(--w);
   border-radius:50px;
 }
  .image img{
    margin: auto;
   width: 340px;
   height: 350px;
   border-radius: 15px;
 }
 hr{
   margin-inline: 22px;
   border:0.8px solid var(--vdb-l);
   background-color: var(--vdb-l);
   border-radius:1px;
 }
 /*typography*/
 p{
   margin:10px 10px 10px 22px;
   color:var(--sb);
 
 }
 .first-p{
   line-height:1.5em;
 }
 .second-p span:nth-child(1){
   color:var(--cy);
 }
 .second-p  span:nth-child(2){
   display:inline-block;
 margin-left:130px; 
 }
 .third-p img{
   margin-right: 15px;
   
 }
 
 cite{
  font-family: cursive;
   color:var(--w);
   font-style: normal;
 }
.attri p a{
  text-decoration-line:none;
  color:var(--vdb-l);
}
 .first-h{
   margin-left: 22px;
   color: var(--w);
   font-weight: 700;
   transition: all 170ms ease-in-out;
 }
 
 /*hover states*/
 .first-h:active{
   color:var(--cy);
   transition: all 180ms ease-in;
   text-shadow: 1px 1px 5px var(--cy);
   opacity: 0.9;
 }
 cite:hover{
   color:var(--cy);
 }
 .attri a:hover{
   color:var(--cy);
 }
.image img:active{
  opacity: 0.1;
}
.image:active{
width:340px;
height:350px;
margin: auto;
 opacity: 0.5;
border-radius: 15px;
background-color: var(--cy);
background-image: url("/images/icon-view.svg");
background-repeat: no-repeat;
background-position: center;
transition: all 180ms ease;
}
  /*375px*/
  @media (max-width:380px){
    #mainContent{
      height:600px;
      width:355px;
    }
    
  .image img{
   width:310px;
   height:340px ;
  }
  .second-p span:nth-child(2){
    margin-left: 80px;
  }
  }
