*{
 /*desktop first approach*/
 box-sizing: border-box;
 margin:0;
 padding:0;
 outline: 1px solid var(--ts)
}
:root{
 --ts: transparent;
 --bd:1px solid;
 --mx-h:100vh;
 --mx-w: 100vw;
 --desktop: 90em;
 --mobile: 22.0em; 
 --flow: row wrap:
 --flow-c: column wrap;
 --box-s:2px 2px 4px 2px;
 --pos-a: absolute;
 --pos-r: relative;
 --pos-st: sticky;
 /*colors*/
 --vdm: hsla(300,43%,22%,1);
 --sfp: hsla(333,80%,67%,1);
 --dgm: hsla(303,10%,53%,1);
 --lgm: hsla(300,24%,96%,1);
 --w:#fff;
 /*color end*/
}
@font-face{
 font-family: "spartan";
 src: url("https://fonts.googleapis.com/css2?family=Mukta&family=Spartan&display=swap");
}
html{
 width:var(--mx-w);
 min-height: var(--mx-h); 
 background: var(--w);
}

body{
 width: inherit;
 min-height:  inherit; 
 background-color: white;
 background-image: url("/images/bg-pattern-top-desktop.svg"),url("/images/bg-pattern-bottom-desktop.svg");
 background-repeat: no-repeat;
 background-origin: border-box;
 background-clip: border-box;
 background-position: top left,100% 100%;
 background-size: 35% 50%, 80% ,90%;
 font-family: "spartan",sans-serif;
 position: relative;
 display:flex;
 flex-flow: row wrap;
 justify-content: center;
 align-content: center;
}

/* firstContent start*/
.firstContent{
/* border: var(--bd) red;*/
 display: flex;
 justify-content: space-evenly;
}
.first-1{
 /*border:var(--bd) yellow;*/
 width:20.75em;
 height:23em;
 display:flex;
 flex-flow:  column wrap;
 justify-content: space-evenly;
}
.first-1 h1{
 color: var(--vdm);
 font-weight: 700;
 font-size: 2.02em;
 text-shadow: 3px 3px 4px hsla(300,43%,22%,0.2);
}
.first-1 p{
 color: var(--dgm);
 line-height: 1.45em;
 text-align: left;
 font-size: 0.6875em;
 font-weight: 500;
 margin-top: -40px;
}
.first-2{
 /*border:var(--bd) green;*/
 width:22.75em;
 height:16em;
 align-self: center;
 display: flex;
 flex-flow: column wrap;
 justify-content: space-around;
}
.first-2 img{
 width:11px;
 height:11px;
}
.first-2 article{
 display: inline-flex;
 justify-content: space-evenly;
 align-items: center;
 height: 3em;
 color: var(--vdm);
 font-weight: 500;
 font-size: 0.7em;
 background: var(--lgm);
 border-radius:0.523em;
 box-shadow: var(--box-s) var(--lgm);
}
.first-2 > .art-1{
 margin: 0 3em 0 -3em;
}
.first-2 > .art-2{
 margin: 0 2em 0 -2em;
}
/*firstcontent end*/

/*secondContent*/
.secondContent{
/* border: 2px solid;*/
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-around;
}
.second-1{
 /*border: var(--bd);*/
 height: 17em;
 width:19em;
 display: flex;
 flex-flow: column;
 justify-content: space-evenly;
 background: var(--vdm);
 padding:0.89em;
 border-radius: 0.7em;
 box-shadow: var(--box-s) hsla(300,43%,22%,0.3);
}
.second-1 p{
 color: white;
 font-size: 0.7875em;
 line-height: 1.345em;
}
.sec-1{
 display: inline-flex;
 justify-content: space-evenly;
 align-items: center;
}
.sec-1 img{
 border-radius:50%;
 width:60px;
 height:60px;
 border:1px solid var(--sfp);
 box-shadow: 2px 2px 4px 1px hsla(333,80%,67%,0.2);
}
.sec-1 b{
 color: white;
 font-weight: 500;
}
.sec-1 i{
 color: var(--sfp);
 font-style: normal;
}
.irene{
 margin: 1em 0 -1em 0;
}
.anne{
 margin: 2em 0 -2em 0;
}
/* secondContent end*/

@media (max-width:360px){
 /*mobile approach*/
 html{
  width: 100vw;
 /**/
 }
 body{
  height: inherit;
  width: inherit;
  font-family: "spartan", sans-serif;
  background: url("/images/bg-pattern-top-mobile.svg"),url("/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 0% 0%, 100% 100%;
  background-size: 100% 20%, 50% 50%;
 }
 /* firstContent*/
 .firstContent{
  display:flex;
  flex-flow:  column wrap;
  align-items: center;
  
 }
 .first-1 h1{
  text-align: center;
  font-size: 2em;
 }
.first-1 p{
 text-align:  center;
 font-size: 0.74em;
}
.first-2{
 display: inherit;
 align-items: center;
}
.first-2 article{
 display: inline-flex;
 flex-flow: column wrap;
 justify-content: space-around;
 align-items: center;
 height: 5em;
width: 300px;
 margin-inline: 5px !important;
}
/* firstContent end*/

.secondContent{
 display: flex;
 flex-flow:  column wrap;
 align-items: center;
 justify-content: space-around;
}

.attri{
 font-size: 10px;
}
/* end mobile media*/
}
/*
@media (max-width:740px){
 .second-1{
  width:15em;
  height: 14em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.95em;
 }
} tablet*/

/* attributions go below*/
.attri{
 height: 100px;
 width:var(--mx-w);
 display: inline-flex;
 justify-content: flex-end;
 align-items: flex-end;
 align-self: flex-start;
 color: #4E4E4F;
}
.attri a{
 color: #090E44;
 font-family: cursive;
 border:1px solid;
 border-radius: 3px;
 background: #B3B8F8;
 text-decoration: none;
}
