@import url("styles/card.css");
/*media queries*/
/**/
@media (max-width:375px){
  html{
    background-color: var(--lg)
  
  }
  body{
    background-color: hsla(212,45%,89%,1);
  }

  #mainContent{
    box-shadow:none;
   border-radius:none;
 background-color: var(--lg);
  }
 
  }
/*

well they is something here which is pretty! crazy! but am still beginning! 
once am done with position and grid!important
am gonna come for a next round!important

*/